appdirs==1.4.4
astroid==3.2.4
attrs==24.2.0
black==24.8.0
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.1
geojson-rewind==1.1.0
geomet==1.1.0
idna==3.7
isort==5.13.2
kiwisolver==1.4.5
matplotlib==3.9.1.post1
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pygbif==0.6.4
pylint==3.2.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-cache==1.2.1
six==1.16.0
tomlkit==0.13.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
